<!doctype html>
<html lang="en">

<head>
    <title>펄리 장보기</title>
    <!-- CSS 파일 넣기 -->

    <!-- 메타 태그 -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- JQuery를 import 합니다 -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
        integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
        crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
        integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
        crossorigin="anonymous"></script>


    <!-- 부트스트랩 CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Single+Day&display=swap" rel="stylesheet">

    <!-- java script -->
    <script type="text/javascript">
    $(document).ready(function () {
            $('#orders-box').html('');
            listing();
        });

        function isCellPhone(p) {
            var regExp = /^(01[016789]{1}|02|0[3-9]{1}[0-9]{1})[-][0-9]{3,4}[-][0-9]{4}$/;
            return regExp.test(p);
        }

        function order() {
            let name = $('#order_name').val();
            let count = $('#order_count').val();
            let address = $('#order_address').val();
            let phone = $('#order_phone').val();

            if (name == '') {
                alert('이름을 입력해주세요')
                $('#order_name').focus()
                return
            } else if (count == '') {
                alert('수량을 입력해주세요')
                $('#order_count').focus()
                return
            } else if (address == '') {
                alert('주소를 입력해주세요')
                $('#order_address').focus()
                return
            } else if (phone == '') {
                alert('휴대폰번호를 입력해주세요')
                $('#order_phone').focus()
                return
            } else if (!isCellPhone(phone)) {
                alert('휴대폰번호 입력 형식이 틀립니다. \n 010-0000-0000으로 입력해주세요')
                return
            }
            $.ajax({
                type: 'POST',
                url: '/orders',
                data: {'name' : name, 'count' : count, 'address' : address, 'phone' : phone},
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        window.location.reload();
                    }
                }
            });
        }
        function listing() {
            // 1. 리뷰 목록을 서버에 요청하기

            // 2. 요청 성공 여부 확인하기
            // 3. 요청 성공했을 때 리뷰를 올바르게 화면에 나타내기
            $.ajax({
                type: "GET",
                url: "/orders",
                data: {},
                success: function (response) {
                    if (response['result'] == 'success') {
                        alert(response['msg']);
                        let orders = response['data'];

                        for (i=0; i < orders.length; i++) {
                        let name = orders[i]['name'];
                        let count = orders[i]['count'];
                        let address = orders[i]['address'];
                        let phone = orders[i]['phone'];
                        make_card(name, count, address, phone)}
                        // 2. 성공했을 때 리뷰를 올바르게 화면에 나타내기
                    } else {
                        alert('주문이 기록되지 않습니다');
                    }
                }
            });
        }

        function make_card(name, count, address, phone) {
            let temp_html = '<tr>\
                                <td>'+ name + '</td>\
                                <td>'+ count + '</td>\
                                <td>'+ address + '</td>\
                                <td>'+ phone + '</td>\
                            </tr>';
            $('#orders-box').append(temp_html);
        }

    </script>


    <!-- 스타일 -->
    <style>
        .topbar {
            text-align: center;
            line-height: 42px;
            font-size: 14px;
            color: white;
            background-color: #5f0080;
            height: 42px;
        }

        .wrap {
            width: 850px;
            margin: auto;
            text-align: center;
        }


        .input-group {
            width: 500px;
            margin: auto;
        }
    </style>


</head>

<body>
    <div class="topbar"> 지금 가입하고 첫 상품 100원에 구매하세요!</div>
    <br>
    <div class="wrap">

        <div class="product_img">
            <img src="{{ url_for('static', filename='iberico.png') }}">
        </div>
        <br>
        <div>
             <h2 class="title"> [이베리쿡] 스페인산 이베리코 목살
                <span style="font-size:medium; color:dimgrey;">500g</span>
                <span style="font-size: large; color: black;">17,000원</span>
                </h2>
        </div>
        <div class="info">
            <P> <span style="font-size: medium; color: lightslategrey;">
                    두툼하고 부드럽게 즐기는 프리미엄 목살</span> </P>
            이전과 다르게 프리미엄 품종의 돼지고기인 이베리코가 고깃집, 레스토랑에서 꽤 자주 눈에 띄기 시작했어요.
            <br>이베리코는 세계 진미 하몽을 만드는데 사용되는만큼 그 품질이 훌륭하답니다.
            <br>특히, 청결한 환경에서 사육되기에 바싹 익혀지지 않은 미디움 정도로 구워 즐겨도 안심이죠.

        </div>
        <br>
        <div class="order">
            <P>
                <h3>주문하기</h3>

            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default0">주문자</span>
                </div>
                <input type="text" id="order_name" class="form-control" placeholder="이름을 입력하세요"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <label class="input-group-text" for="inputGroupSelect01">수 &nbsp;&nbsp;량</label>
                </div>
                <select id="order_count" class="custom-select" id="inputGroupSelect01">
                    <option selected value="">수량을 선택하세요</option>
                    <option value="1">1</option>
                    <option value="2">2</option>
                    <option value="3">3</option>
                </select>
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default1">배송지</span>
                </div>
                <input type="text" id="order_address" class="form-control" placeholder="배송받을 주소를 입력하세요"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>
            <br>
            <div class="input-group">
                <div class="input-group-prepend">
                    <span class="input-group-text" id="inputGroup-sizing-default">연락처</span>
                </div>
                <input type="text" id="order_phone" class="form-control" placeholder="010-0000-0000"
                    aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default">
            </div>

            <br> <button type="button" class="btn btn-outline-secondary"
                style="margin-top: 10px; margin-bottom: 30px;">장바구니
                담기</button>
            <button onclick="order()" type="button" class="btn btn-outline-secondary"
                style="margin-top: 10px; margin-bottom: 30px; color: #5f0080;">주문하기</button>
        </div>
        <div class="orders">
            <table class="table">
                <thead>
                    <tr>
                        <th scope="col">주문자</th>
                        <th scope="col">수량</th>
                        <th scope="col">배송지</th>
                        <th scope="col">연락처</th>
                    </tr>
                </thead>
                <tbody id="orders-box">
                    <tr>
                        <td>Otto</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                        <td>@mdo</td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>


</body>